<!DOCTYPE html>
<html>
    <head>
        <title>Blogging is Life</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <link rel="stylesheet" href="/stylesheets/shows.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg  navbar-dark fixed-top" style="background-color: #f1f1f1">
            <div class="container-fluid">
                <div class="navbar-header" style="margin-bottom: 0">
                    <a class="navbar navbar-brand" href="/campgrounds" ><big>Blogs</big></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                        <li style="margin-top: 5px;"><a href="/login">Login</a></li>
                        <li style="margin-top: 5px;"><a href="/register">Sign Up</a></li>
                       <% }else{ %>
                        <li style="margin-top: 5px;"><a href="#"><i>Signed in as </i> <strong><%= currentUser.username %></strong> </a></li> 
                        <li style="margin-top: 5px;"><a href="/logout">Logout</a></li> 
                        <%}%>
                    </ul>
                </div>
                </div>
        </nav>
        <div class="container">
            <% if(error && error.length>0){%>
        <div class="alert alert-danger" role="alert"><h1><%=error%></h1></div>
            <%}%>
            <% if(success && success.length>0){%>
        <div class="alert alert-success" role="alert"><h1><%=success%></h1></div>
            <%}%>
        </div>
        
        